@{
    ViewBag.Title = "Welcome!";
}

<h1>Longhorn Bank & Trust</h1>

<hr />

<div>
    <h5>Checking Account</h5>
    <p>A checking account offers easy access to your money for your daily transactional needs and helps keep your cash secure.</p>
</div>
<div>
    <h5>Savings Account</h5>
    <p>A savings account is a basic type of financial product that allows you to deposit your money and typically earn a modest amount of interest.</p>
</div>
<div>
    <h5>Individual Retirement Account</h5>
    <p>An individual retirement account (IRA) allows you to save money for retirement in a tax-advantaged way.</p>
</div>
<div>
    <h5>Stock Portfolio</h5>
    <p>A stock market portfolio is an investor's collection of stocks, funds, and other market-traded securities.</p>
</div>

<a asp-action="Register" asp-controller="Account" class="btn btn-info">Register Now</a>