@model Team3_FinalProject.Models.StockTransaction

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StockTransaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuantityShares" class="control-label"></label>
                <input asp-for="QuantityShares" class="form-control" />
                <span asp-validation-for="QuantityShares" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SharePrice" class="control-label"></label>
                <input asp-for="SharePrice" class="form-control" />
                <span asp-validation-for="SharePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockTXNAmount" class="control-label"></label>
                <input asp-for="StockTXNAmount" class="form-control" />
                <span asp-validation-for="StockTXNAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockTXNDate" class="control-label"></label>
                <input asp-for="StockTXNDate" class="form-control" />
                <span asp-validation-for="StockTXNDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

