@model Team3_FinalProject.Models.Stock

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Stock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StockName" class="control-label"></label>
                <input asp-for="StockName" class="form-control" />
                <span asp-validation-for="StockName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockType" class="control-label"></label>
                @Html.DropDownList("SelectedStockType", (SelectList)ViewBag.AllStockTypes, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="TickerSymbol" class="control-label"></label>
                <input asp-for="TickerSymbol" class="form-control" />
                <span asp-validation-for="TickerSymbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockPrice" class="control-label"></label>
                <input asp-for="StockPrice" class="form-control" />
                <span asp-validation-for="StockPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

