<h2>Press these buttons to seed your data!</h2>

<a asp-action="SeedRoles" asp-controller="Seed" class="btn btn-primary">Seed Roles</a>

<a asp-action="SeedPeople" asp-controller="Seed" class="btn btn-info">Seed People</a>

<a asp-action="Accounts" asp-controller="Seed" class="btn btn-info">Seed Accounts</a>

<a asp-action="Disputes" asp-controller="Seed" class="btn btn-info">Seed Disputes</a>

<a asp-action="StockPortfolios" asp-controller="Seed" class="btn btn-info">Seed StockPortfolios</a>

<a asp-action="Stocks" asp-controller="Seed" class="btn btn-info">Seed Stocks</a>


<a asp-action="StockTransactions" asp-controller="Seed" class="btn btn-info">Seed StockTransactions</a>

<a asp-action="StockTypes" asp-controller="Seed" class="btn btn-info">Seed StockTypes</a>

<a asp-action="Transactions" asp-controller="Seed" class="btn btn-info">Seed Transactions</a>





